/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


// Layer aliases
#define DEF      0
#define RAISE    1
#define LOWER    2
#define MEDIA    3
#define BLUETH   4
#define DESKS    5

// key aliases
#define TAB_LT      LC(LS(TAB)) // tab left
#define TAB_RT      LC(TAB) // tab right
#define GUI_TAB     LG(TAB) // gui+tab
#define DESK_LT     LC(LEFT) // desktop left
#define DESK_RT     LC(RIGHT) // desktop right

#define L_SC        LS(LEFT_CONTROL)
#define R_SC        RS(RIGHT_CONTROL)
#define L_AC        LA(LEFT_CONTROL)
#define R_AC        RA(RIGHT_CONTROL)
#define L_GC        LG(LEFT_CONTROL)
#define R_GC        RG(RIGHT_CONTROL)
#define L_GA        LG(LEFT_ALT)
#define R_GA        RG(RIGHT_ALT)
#define L_GS        LG(LEFT_SHIFT)
#define R_GS        RG(RIGHT_SHIFT)
#define L_AS        LA(LEFT_SHIFT)
#define R_AS        RA(RIGHT_SHIFT)
#define L_GCS       LG(LC(LEFT_SHIFT))

#define SPECIAL     LC(LA(LG(SPACE))) // Hold Left Control, Alt and GUI and press Space

&right_encoder {
    status = "okay";
};

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
};

/ {
    behaviors {
        adm: alpha_double_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_DOUBLE_MT";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        // timing works better than mt for mod-taps on alpha keys
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        as: alpha_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        volknob: volume_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_VOLUME_KNOB";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
/*
 * Default Layer: QWERTY
 *
 * ,----------------------------------------------.                                               ,-----------------------------------------------.
 * |  sc_~ `  | ac_Q | ga_W | gc_E | gs_R |  sa_T |                                               | sa_Y | gs_U |  gc_I   | ga_O | ac_P |  sc_\ | |
 * |----------+------+------+------+------+-------|                                               |------+------+---------+------+------+---------|
 * |  c_Del   |   A  |  S   |  D   |  F   |   G   |                                               |  H   |  J   |    K    |  L   |  ; : |  c_' "  |
 * |----------+------+------+------+------+-------+-------------------.       ,-------------------+------+------+---------+------+------+---------|
 * | sp_Media |   Z  |  X   |  C   |  g_V |  c_B  | GuiTab  | BLUETH  |       |  CapsLk | GuiTab  | c_N  | g_M  |   , <   |  . > |  / ? | gcs_- _ |
 * `----------+------+------+------+------+-------+---------+---------|       |---------+---------+------+------+---------+------+------+---------'
 *                          | Mute |  [{  | s_Tab | a_Space | LOW_Esc |       | RAI_Ent | a_Bkspc | s_=+ |  ]}  | Studio  |
 *                          `-----------------------------------------'       `-------------------------------------------'
 */
        default_layer {
            label = "DEF";
            bindings = <
// ╭───────────────────┬────────────┬────────────┬────────────┬─────────────┬───────────────╮                                                                      ╭─────────────────┬────────────┬───────────────┬────────────┬────────────┬─────────────────╮
     &am L_SC GRAVE      &am L_AC Q   &am L_GA W   &am L_GC E   &am L_GS R    &am L_AS T                                                                             &am R_AS Y        &am L_GS U   &am L_GC I      &am L_GA O   &am R_AC P   &am R_SC BSLH
// ├───────────────────├────────────┼────────────┼────────────┼─────────────┼───────────────┤                                                                      ├─────────────────├────────────┼───────────────┼────────────┼────────────┼─────────────────┤
     &am LCTRL DEL       &kp A        &kp S        &kp D        &kp F         &kp G                                                                                  &kp H             &kp J        &kp K           &kp L        &kp SEMI     &am RCTRL SQT
// ├───────────────────├────────────┼────────────┼────────────┼─────────────┼───────────────┼────────────────┬───────────────╮     ╭───────────────┬───────────────├─────────────────├────────────┼───────────────┼────────────┼────────────┼─────────────────┤
     &lt MEDIA SPECIAL   &kp Z        &kp X        &kp C        &am LGUI V    &am LCTRL B     &kp GUI_TAB      &mo BLUETH              &kp CAPS       &kp GUI_TAB    &am RCTRL N       &am LGUI M   &kp COMMA       &kp DOT      &kp FSLH     &mt L_GCS MINUS
// ╰───────────────────┴────────────┴────────────┼────────────┼─────────────┼───────────────┼────────────────┼───────────────┤     ├───────────────├───────────────├─────────────────├────────────┼───────────────┼────────────┴────────────┴─────────────────╯
                                                   &kp C_MUTE   &kp LBKT      &am LSHFT TAB   &as LALT SPACE   &lt LOWER ESC         &lt RAISE RET   &as RALT BSPC   &am RSHFT EQUAL   &kp RBKT     &studio_unlock
//                                               ╰────────────┴─────────────┴───────────────┴────────────────┴───────────────╯     ╰───────────────┴───────────────┴─────────────────┴────────────┴───────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

/*
 * RAISE Layer: Numbers and Arrow/Scroll Navigation
 *
 * ,-----------------------------------------.                                ,--------------------------------------------.
 * |  0   |  1   |  2   |  3   |  4   |  5   |                                |   6  |  7   |  8   |  9   |   0   |   1    |
 * |------+------+------+------+------+------|                                |------+------+------+------+-------+--------|
 * | CTRL |      |      | PgUp | PgDn |      |                                | Left | Down |  Up  |Right |       |  CTRL  |
 * |------+------+------+------+------+------+-------------.    ,-------------+------+------+------+------+-------+--------|
 * |      |      |      |      | Gui  | Ctrl |      |CapsLk|    |      |      | Ctrl | Gui  |      |      |       |        |
 * `--------------------+------+------+------+------+------|    |------+------+------+------+------+-----------------------'
 *                      |      |      | Shft | Alt  |DESKS |    |RAISE | Alt  | Shft |      |      |
 *                      `----------------------------------'    `----------------------------------'
 */
        lower_layer {
            label = "RAISE";
            bindings = <
// ╭───────────┬────────┬────────┬───────────┬───────────┬───────────╮                                             ╭───────────┬──────────┬────────┬───────────┬────────┬───────────╮
     &kp N0      &kp N1   &kp N2   &kp N3      &kp N4      &kp N5                                                    &kp N6      &kp N7     &kp N8   &kp N9      &kp N0   &kp N1
// ├───────────├────────┼────────┼───────────┼───────────┼───────────┤                                             ├───────────├──────────┼────────┼───────────┼────────┼───────────┤
     &kp LCTRL   &none    &none    &kp PG_UP   &kp PG_DN   &none                                                     &kp LEFT    &kp DOWN   &kp UP   &kp RIGHT   &none    &kp RCTRL
// ├───────────├────────┼────────┼───────────┼───────────┼───────────┼──────────┬───────────╮   ╭───────┬──────────├───────────├──────────┼────────┼───────────┼────────┼───────────┤
     &none       &none    &none    &none       &kp LGUI    &kp LCTRL   &none      &kp CAPS        &none   &none      &kp RCTRL   &kp LGUI   &none    &none       &none    &none
// ╰───────────┴────────┴────────┼───────────┼───────────┼───────────┼──────────┼───────────┤   ├───────├──────────├───────────├──────────┼────────┼───────────┴────────┴───────────╯
                                   &none       &none       &kp LSHFT   &kp LALT   &mo DESKS       &none   &kp RALT   &kp RSHFT   &none      &none
//                               ╰───────────┴───────────┴───────────┴──────────┴───────────╯   ╰───────┴──────────┴───────────┴──────────┴────────╯
            >;
        };

/*
 * LOWER Layer: Symbols and Function keys
 *
 * ,-----------------------------------------.                                ,------------------------------------------.
 * |      |  !   |  @   |  #   |  $   |  %   |                                |   ^  |   &  |  *   |  (   |  )   |       |
 * |------+------+------+------+------+------|                                |------+------+------+------+------+-------|
 * | CTRL |  F1  |  F2  |  F3  |  F4  |  F5  |                                |  F6  |  F7  |  F8  |  F9  | F10  | CTRL  |
 * |------+------+------+------+------+------+-------------.    ,-------------+------+------+------+------+------+-------|
 * |      |      |      |      | Gui  | Ctrl |      |CapsLk|    |PrtScn|      | Ctrl | Gui  |      |  F11 | F12  |       |
 * `--------------------+------+------+------+------+------|    |------+------+------+------+------+---------------------'
 *                      |      |      | Shft | Alt  |LOWER |    |DESKS | Alt  | Shft |      |      |
 *                      `----------------------------------'    `----------------------------------'
 */
        raise_layer {
            label = "LOWER";
            bindings = <
// ╭───────────┬──────────┬────────┬──────────┬────────────┬───────────╮                                                 ╭───────────┬──────────┬──────────┬──────────┬──────────┬───────────╮
     &none       &kp EXCL   &kp AT   &kp HASH   &kp DOLLAR   &kp PRCNT                                                     &kp CARET   &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &none
// ├───────────├──────────┼────────┼──────────┼────────────┼───────────┤                                                 ├───────────├──────────┼──────────┼──────────┼──────────┼───────────┤
     &kp LCTRL   &kp F1     &kp F2   &kp F3     &kp F4       &kp F5                                                        &kp F6      &kp F7     &kp F8     &kp F9     &kp F10    &kp RCTRL
// ├───────────├──────────┼────────┼──────────┼────────────┼───────────┼──────────┬──────────╮   ╭───────────┬───────────├───────────├──────────┼──────────┼──────────┼──────────┼───────────┤
     &none       &none      &none    &none      &kp LGUI     &kp LCTRL    &none     &kp CAPS       &kp PSCRN   &none       &kp RCTRL   &kp LGUI   &none      &kp F11    &kp F12    &none
// ╰───────────┴──────────┴────────┼──────────┼────────────┼───────────┼──────────┼──────────┤   ├───────────├───────────├───────────├──────────┼──────────┼──────────┴──────────┴───────────╯
                                     &none      &none        &kp LSHFT   &kp LALT    &none         &mo DESKS   &kp RALT    &kp RSHFT   &none      &none
//                                 ╰──────────┴────────────┴───────────┴──────────┴──────────╯   ╰───────────┴───────────┴───────────┴──────────┴──────────╯
            >;
        };

/*
 * Media Layer
 *
 * ,--------------------------------------------------.                                     ,---------------------------------------------.
 * |      |        |        |        |        |       |                                     |      |       |       |       |      |       |
 * |------+--------+--------+--------+--------+-------|                                     |------+-------+-------+-------+------+-------|
 * |      |        |        |        |        |       |                                     |      | Play  | Prev  | Next  |      |       |
 * |------+--------+--------+--------+--------+-------+--------------.       ,--------------+------+-------+-------+-------+------+-------|
 * |      |        |        |        |        |       |       |      |       |      |       |      | VolDn | VolUp |VolMute|      |       |
 * `------------------------+--------+--------+-------+-------+------|       |------+-------+------+-------+-------+----------------------'
 *                          |        |        |       | Space |      |       |      | Bkspc |      |       |       |
 *                          `----------------------------------------'       `-------------------------------------'
 */
        media_layer {
            label = "MEDIA";
            bindings = <
// ╭───────┬───────┬───────┬───────┬───────┬───────╮                                          ╭───────┬──────────────┬──────────────┬────────────┬───────┬───────╮
     &none   &none   &none   &none   &none   &none                                              &none   &none          &none          &none        &none   &none
// ├───────├───────┼───────┼───────┼───────┼───────┤                                          ├───────├──────────────┼──────────────┼────────────┼───────┼───────┤
     &none   &none   &none   &none   &none   &none                                              &none   &kp C_PP       &kp C_PREV     &kp C_NEXT   &none   &none
// ├───────├───────┼───────┼───────┼───────┼───────┼───────────┬───────╮   ╭───────┬──────────├───────├──────────────┼──────────────┼────────────┼───────┼───────┤
     &none   &none   &none   &none   &none   &none    &none      &none       &none   &none      &none   &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE   &none   &none
// ╰───────┴───────┴───────┼───────┼───────┼───────┼───────────┼───────┤   ├───────├──────────├───────├──────────────┼──────────────┼────────────┴───────┴───────╯
                             &none   &none   &none   &kp SPACE   &none       &none   &kp BSPC   &none   &none          &none
//                         ╰───────┴───────┴───────┴───────────┴───────╯   ╰───────┴──────────┴───────┴──────────────┴──────────────╯
            >;
        };

/*
 * Bluetooth Layer
 *
 * ,-----------------------------------------.                                   ,-------------------------------------------.
 * |      |      |      |      |      |      |                                   |      |      |      |       |      |       |
 * |------+------+------+------+------+------|                                   |------+------+------+-------+------+-------|
 * |      |      |      |      |      |      |                                   |      |      |      |       |      |       |
 * |------+------+------+------+------+------+-------------.       ,-------------+------+------+------+-------+------+-------|
 * |      |      |      |      |      |      |Studio|BLUETH|       |      |      |      |      |      |       |      |BT_CLR |
 * `--------------------+------+------+------+------+------|       |------+------+------+------+------+----------------------'
 *                      |BT_P_4|BT_P_3|BT_P_2|BT_P_1|BT_P_0|       |BT_P_0|BT_P_1|BT_P_2|BT_P_3|BT_P_4|
 *                      `----------------------------------'       `----------------------------------'
 */
        bluetooth_layer {
            label = "BLUETH";
            bindings = <
// ╭────────────┬───────┬───────┬──────────────┬──────────────┬──────────────╮                                                               ╭──────────────┬──────────────┬──────────────┬─────────┬─────────┬────────────╮
       &none      &none   &none      &none          &none         &none                                                                           &none          &none          &none        &none     &none      &none
// ├────────────┼───────┼───────┼──────────────┼──────────────┼──────────────┤                                                               ├──────────────├──────────────┼──────────────┼─────────┼─────────┼────────────┤
       &none      &none   &none      &none          &none         &none                                                                           &none          &none          &none        &none     &none      &none
// ├────────────┼───────┼───────┼──────────────┼──────────────┼──────────────┼──────────────┬──────────────╮   ╭──────────────┬──────────────├──────────────├──────────────┼──────────────┼─────────┼─────────┼────────────┤
     &bt BT_CLR   &none   &none      &none          &none         &none       &studio_unlock     &none           &none          &none             &none          &none          &none        &none     &none    &bt BT_CLR
// ╰────────────┴───────┴───────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────├──────────────├──────────────├──────────────┼──────────────┼─────────┴─────────┴────────────╯
                                  &bt BT_SEL 4   &bt BT_SEL 3   &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0       &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
//                              ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯   ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯
            >;
        };

/*
 * Desktops Layer
 *
 * ,------------------------------------------.                                ,--------------------------------------------.
 * |      |  D1  |  D2  |  D3  |  D4   |  D5  |                                |  D6  |  D7   |  D8  |  D9  |  D10  |  D11  |
 * |------+------+------+------+-------+------|                                |------+-------+------+------+-------+-------|
 * |      |      |      |      |DESK_LT|      |                                |      |DESK_RT|      |      |       |       |
 * |------+------+------+------+-------+------+-------------.    ,-------------+------+-------+------+------+-------+-------|
 * |      |      |      |      |       |      |      |      |    |      |      |      |       |      |      |       |       |
 * `--------------------+------+-------+------+------+------|    |------+------+------+-------+------+----------------------'
 *                      |      |       |      |      |      |    |      |      |      |       |      |
 *                      `-----------------------------------'    `-----------------------------------'
 */
        desktops_layer {
            label = "DESKS";
            bindings = <
// ╭───────┬────────────┬────────────┬────────────┬─────────────┬────────────╮                                   ╭────────────┬─────────────┬────────────┬────────────┬────────────┬───────────────╮
     &none   &kp LA(N1)   &kp LA(N2)   &kp LA(N3)   &kp LA(N4)    &kp LA(N5)                                       &kp LA(N6)   &kp LA(N7)    &kp LA(N8)   &kp LA(N9)   &kp LA(N0)   &kp LA(MINUS)
// ├───────├────────────┼────────────┼────────────┼─────────────┼────────────┤                                   ├────────────├─────────────┼────────────┼────────────┼────────────┼───────────────┤
     &none     &none        &none        &none      &kp DESK_LT     &none                                             &none     &kp DESK_RT     &none         &none        &none         &none
// ├───────├────────────┼────────────┼────────────┼─────────────┼────────────┼───────┬───────╮   ╭───────┬───────├────────────├─────────────┼────────────┼────────────┼────────────┼───────────────┤
     &none     &none        &none        &none        &none         &none      &none   &none       &none   &none      &none       &none         &none         &none        &none         &none
// ╰───────┴────────────┴────────────┼────────────┼─────────────┼────────────┼───────┼───────┤   ├───────├───────├────────────├─────────────┼────────────┼────────────┴────────────┴───────────────╯
                                         &none        &none         &none      &none   &none       &none   &none      &none       &none         &none
//                                   ╰────────────┴─────────────┴────────────┴───────┴───────╯   ╰───────┴───────┴────────────┴─────────────┴────────────╯
            >;
        };

    };
};
