/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


// Layer aliases
#define DEF      0
#define LOWER    1
#define RAISE    2
#define MEDIA    3
#define BLUETH   4
#define DESKS    5

// key aliases
#define TAB_LT      LC(LS(TAB)) // tab left
#define TAB_RT      LC(TAB) // tab right
#define DESK_LT     LC(LG(LEFT)) // desktop left
#define DESK_RT     LC(LG(RIGHT)) // desktop right

#define L_SC        LS(LEFT_CONTROL)
#define R_SC        RS(RIGHT_CONTROL)
#define L_AC        LA(LEFT_CONTROL)
#define R_AC        RA(RIGHT_CONTROL)
#define L_GC        LG(LEFT_CONTROL)
#define R_GC        RG(RIGHT_CONTROL)
#define L_GA        LG(LEFT_ALT)
#define R_GA        RG(RIGHT_ALT)
#define L_GS        LG(LEFT_SHIFT)
#define R_GS        RG(RIGHT_SHIFT)
#define L_AS        LA(LEFT_SHIFT)
#define R_AS        RA(RIGHT_SHIFT)

#define SPECIAL     LC(LA(LG(SPACE))) // Hold Left Control, Alt and GUI and press Space

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
};

/ {
    behaviors {
        adm: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_DOUBLE_MT";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        as: alpha_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
/*
 * Default Layer: QWERTY
 *
 * ,--------------------------------------------.                                            ,--------------------------------------------.
 * | sc_~ ` | ac_Q  | ga_W | gc_E | gs_R | sa_T |                                            | sa_Y | gs_U | gc_I | ga_O  | ac_P  |sc_\ | |
 * |--------+-------+------+------+------+------|                                            |------+------+------+-------+-------+-------|
 * | c_Del  |   A   |   S  |   D  |   F  |  G   |                                            |   H  |  J   |  K   |   L   |  ; :  | c_' " |
 * |--------+-------+------+------+------+------+------------------.       ,-----------------+------+------+------+-------+-------+-------|
 * | Media  |   Z   |   X  |   C  |  g_V |  B   |  Tab  | Special  |       |  BLUETH   | = + |   N  | g_M  | , <  |  . >  |  / ?  |  - _  |
 * `--------+-------+------+------+------+------+-------+----------|       |-----------+-----+------+------+------+-------+-------+-------'
 *                         |DeskLt| s_[{ |Space | a_Esc |RAI_c_Tab |       |LOW_sc_Tab |a_Ent|Bkspc | s_]} |DeskRt|
 *                         `---------------------------------------'       `--------------------------------------'
 */
        default_layer {
            label = "DEF";
            bindings = <
// ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                  ╭─────────────┬─────────────┬─────────────┬─────────────┬────────────┬──────────────╮
     &am L_SC GRAVE  &am L_AC Q    &am L_GA W    &am L_GC E    &am L_GS R    &am L_AS T                                                                        &am R_AS Y    &am L_GS U    &am L_GC I    &am L_GA O    &am R_AC P  &am R_SC BSLH
// ├───────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                  ├─────────────├─────────────┼─────────────┼─────────────┼────────────┼──────────────┤
     &am LCTRL DEL    &kp A         &kp S         &kp D         &kp F         &kp G                                                                            &kp H         &kp J         &kp K         &kp L         &kp SEMI    &am RCTRL SQT
// ├───────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬───────────────╮     ╭───────────────┬──────────────├─────────────├─────────────┼─────────────┼─────────────┼────────────┼──────────────┤
      &mo MEDIA       &kp Z         &kp X         &kp C         &am LGUI V    &kp B         &kp TAB       &kp SPECIAL           &mo BLUETH      &kp EQUAL      &kp N         &am LGUI M    &kp COMMA     &kp DOT       &kp FSLH     &kp MINUS
// ╰───────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼───────────────┤     ├───────────────├──────────────├─────────────├─────────────┼─────────────┼─────────────┴────────────┴──────────────╯
                                                &kp DESK_LT  &mt LSHFT LBKT  &kp SPACE    &am LALT ESC &lt RAISE TAB_LT       &lt LOWER TAB_RT &am RALT RET    &kp BSPC    &mt RSHFT RBKT  &kp DESK_RT
//                                             ╰─────────────┴─────────────┴─────────────┴─────────────┴───────────────╯     ╰───────────────┴──────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

/*
 * Lower Layer: Numbers and Arrow/Scroll Navigation
 *
 * ,-----------------------------------------.                                ,--------------------------------------------.
 * |  0   |  1   |  2   |  3   |  4   |  5   |                                |   6  |  7   |  8   |  9   |   0   |   1    |
 * |------+------+------+------+------+------|                                |------+------+------+------+-------+--------|
 * | CTRL |      |      | PgUp | PgDn |      |                                | Left | Down |  Up  |Right |       |  CTRL  |
 * |------+------+------+------+------+------+-------------.    ,-------------+------+------+------+------+-------+--------|
 * |      |      |      |      | Gui  |      |      |      |    |      |      |      | Gui  |      |      |       |        |
 * `--------------------+------+------+------+------+------|    |------+------+------+------+------+-----------------------'
 *                      |      | Shft |      | Alt  |DESKS |    |      | Alt  |      | Shft |      |
 *                      `----------------------------------'    `----------------------------------'
 */
        lower_layer {
            label = "LOWER";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp N0        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                                                    &kp N6        &kp N7        &kp N8         &kp N9        &kp N0        &kp N1
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                           ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LCTRL     &none         &none         &kp PG_UP     &kp PG_DN     &none                                                                     &kp LEFT      &kp DOWN      &kp UP         &kp RIGHT     &none         &kp RCTRL
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮   ╭─────────────┬─────────────├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none         &none         &none         &none         &kp LGUI      &none         &none         &none             &none         &none         &none         &kp LGUI      &none          &none         &none         &none
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────├─────────────├─────────────├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                &none         &kp LSHFT     &none         &kp LALT      &mo DESKS         &none         &kp RALT      &none         &kp RSHFT     &none
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

/*
 * Raise Layer: Symbols and Function keys
 *
 * ,-----------------------------------------.                                ,------------------------------------------.
 * |      |  !   |  @   |  #   |  $   |  %   |                                |   ^  |   &  |  *   |  (   |  )   |       |
 * |------+------+------+------+------+------|                                |------+------+------+------+------+-------|
 * | CTRL |  F1  |  F2  |  F3  |  F4  |  F5  |                                |  F6  |  F7  |  F8  |  F9  | F10  | CTRL  |
 * |------+------+------+------+------+------+-------------.    ,-------------+------+------+------+------+------+-------|
 * |      |      |      |      | Gui  |      |      |CapsLk|    |PrtScn|      |      | Gui  |      |  F11 | F12  |       |
 * `--------------------+------+------+------+------+------|    |------+------+------+------+------+---------------------'
 *                      |      | Shft |      | Alt  |      |    |DESKS | Alt  |      | Shft |      |
 *                      `----------------------------------'    `----------------------------------'
 */
        raise_layer {
            label = "RAISE";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT                                                                 &kp CARET     &kp AMPS      &kp STAR       &kp LPAR      &kp RPAR      &none
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                           ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LCTRL     &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                                                    &kp F6        &kp F7        &kp F8         &kp F9        &kp F10       &kp RCTRL
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮   ╭─────────────┬─────────────├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none        &none          &none         &none         &kp LGUI      &none         &none         &kp CAPS          &kp PSCRN     &none         &none         &kp LGUI      &none          &kp F11       &kp F12       &none
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────├─────────────├─────────────├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                &none         &kp LSHFT     &none         &kp LALT      &none             &mo DESKS     &kp RALT      &none         &kp RSHFT     &none
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

/*
 * Media Layer
 *
 * ,------------------------------------------.                                           ,---------------------------------------------.
 * |      |        |        |        |        |       |                                   |      |       |       |       |      |       |
 * |------+--------+--------+--------+--------+-------|                                   |------+-------+-------+-------+------+-------|
 * |      |        |        |        |        |       |                                   |      | Play  | Prev  | Next  |      |       |
 * |------+--------+--------+--------+--------+-------+-------------.       ,-------------+------+-------+-------+-------+------+-------|
 * |      |        |        |        |        |       |      |      |       |      |      |      | VolDn | VolUp |VolMute|      |       |
 * `------------------------+--------+--------+-------+------+------|       |------+------+------+-------+-------+----------------------'
 *                          |        |        |       |      |      |       |      |      |      |       |       |
 *                          `---------------------------------------'       `------------------------------------'
 */
        media_layer {
            label = "MEDIA";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none        &none          &none         &none         &none         &none                                                                     &none         &none         &none         &none         &none         &none
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                           ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none        &none          &none         &none         &none         &none                                                                     &none         &kp C_PP      &kp C_PREV    &kp C_NEXT    &none         &none
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮   ╭─────────────┬─────────────├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none        &none          &none         &none         &none         &none         &none         &none             &none         &none         &none        &kp C_VOL_DN  &kp C_VOL_UP   &kp C_MUTE    &none         &none
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────├─────────────├─────────────├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                &none         &none         &none         &none         &none             &none         &none         &none         &none         &none
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

/*
 * Bluetooth Layer
 *
 * ,------------------------------------------.                                           ,---------------------------------------------.
 * |      |        |        |        |        |       |                                   |      |       |       |       |      |       |
 * |------+--------+--------+--------+--------+-------|                                   |------+-------+-------+-------+------+-------|
 * |      |        |        |        |        |       |                                   |      |       |       |       |      |       |
 * |------+--------+--------+--------+--------+-------+-------------.       ,-------------+------+-------+-------+-------+------+-------|
 * |      |        |        |        |        |       |      |      |       |      |BT_CLR|      |       |       |       |      |       |
 * `------------------------+--------+--------+-------+------+------|       |------+------+------+-------+-------+----------------------'
 *                          |        |        |       |      |      |       |BT_P_0|BT_P_1|BT_P_2|BT_P_3|BT_P_4|
 *                          `---------------------------------------'       `------------------------------------'
 */
        bluetooth_layer {
            label = "BLUETH";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none        &none          &none         &none         &none         &none                                                                     &none         &none         &none         &none         &none         &none
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                           ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none        &none          &none         &none         &none         &none                                                                     &none         &none         &none         &none         &none         &none
// ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮   ╭─────────────┬─────────────├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none        &none          &none         &none         &none         &none         &none         &none             &none        &bt BT_CLR    &none         &none         &none         &none         &none         &none
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────├─────────────├─────────────├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                &none         &none         &none         &none         &none            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

/*
 * Desktops Layer
 *
 * ,-----------------------------------------.                                ,------------------------------------------.
 * |      |  D1  |  D2  |  D3  |  D4  |  D5  |                                |  D6  |  D7  |  D8  |  D9  |   D0  |      |
 * |------+------+------+------+------+------|                                |------+------+------+------+-------+------|
 * |      |      |      |      |      |      |                                |      |      |      |      |       |      |
 * |------+------+------+------+------+------+-------------.    ,-------------+------+------+------+------+-------+------|
 * |      |      |      |      |      |      |      |      |    |      |      |      |      |      |      |       |      |
 * `--------------------+------+------+------+------+------|    |------+------+------+------+------+---------------------'
 *                      |      |      |      |      |      |    |      |      |      |      |      |
 *                      `----------------------------------'    `----------------------------------'
 */
        desktops_layer {
            label = "DESKS";
            bindings = <
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮                                                           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────╮
      &none        &kp LC(LG(N1)) &kp LC(LG(N2)) &kp LC(LG(N3)) &kp LC(LG(N4)) &kp LC(LG(N5))                                                             &kp LC(LG(N6)) &kp LC(LG(N7)) &kp LC(LG(N8)) &kp LC(LG(N9)) &kp LC(LG(N0))   &none
// ├──────────────├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤                                                           ├──────────────├──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
      &none          &none           &none          &none          &none         &none                                                                      &none          &none          &none          &none          &none          &none
// ├──────────────├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┬─────────────╮   ╭─────────────┬─────────────├──────────────├──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
      &none          &none           &none          &none          &none         &none          &none         &none             &none         &none         &none          &none          &none          &none          &none          &none
// ╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼─────────────┼─────────────┤   ├─────────────├─────────────├──────────────├──────────────┼──────────────┼──────────────┴──────────────┴─────────────╯
                                                    &none          &none         &none          &none         &none             &none         &none         &none          &none          &none
//                                              ╰──────────────┴──────────────┴──────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴──────────────┴──────────────┴──────────────╯
            >;
        };

    };
};
